/* ************************* */
/* Header*/
/* ************************* */
.header{
	background-color: #fdf2e9;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 4.8rem;
	height: 9.6rem;
}
.logo{
	height: 2.2rem;
}

/* ************************* */
/* Navigation */
/* ************************* */
.nav-list{
	display: flex;
	gap: 3.2rem;
	list-style: none;
	align-items: center;
}

.nav-link:link,
.nav-link:visited{
	color: #333;
	font-weight: 500;
	text-decoration: none;
	font-size: 1.8rem;
	transition: all 0.3s;
}
.nav-link:hover,
.nav-link:active{
	color: #cf711f;
}

.nav-link.cta-link:link,
.nav-link.cta-link:visited{
 padding: 1.2rem 2.4rem;
 border-radius: 9px;
 background-color: #e67e22;
 color: #fff;
}
.nav-link.cta-link:hover,
.nav-link.cta-link:active{
 background-color: #cf711f;
}

/* ************************* */
/* Hero Section*/
/* ************************* */

.hero-section{
	background-color: #fdf2e9;
	padding: 4.8rem 0 9.6rem 0;
}
.hero{
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: center;
	gap: 9.6rem;
	max-width: 130rem;
	margin: 0 auto;
	padding: 0 3.2rem;
}

.hero-description{
	font-size: 2rem;
	line-height: 1.6;
	margin-bottom: 4.8rem;
}

.hero-img{
		width: 100%;
	}

.delivered-box{
	display: flex;
	align-items: center;
	margin-top: 8rem;
	gap: 1.6rem;
}
.delivered-imgs{
	display: flex;
}
.delivered-imgs img{
	height: 4.8rem;
	width: 4.8rem;
	border-radius: 50%;
	margin-right: -1.6rem;
	border: 3px solid #fdf2e9;
}
.delivered-imgs img:last-child{
	margin: 0;
}
.delivered-text{
	font-size: 1.8rem;
	font-weight: 600;
}
.delivered-text span{
  color: #cf711f;
	font-weight: 700;
}




/* ************************* */
/*  Featured in Section*/
/* ************************* */

.section-featured{
	padding: 4.8rem 0 3.2rem 0;
}
.heading-featuredin{
	font-size: 1.4rem;
	font-weight: 500;
	text-transform: uppercase;
	text-align: center;
	color: #888;
	margin-bottom: 2.4rem;
	letter-spacing: 0.75px;
}
.logos{
  display: flex;
	justify-content: space-around;
}

.logos img{
	height: 3.2rem;
	filter: brightness(0);
	opacity: 50%;
}


/* ************************* */
/*  How to work  Section*/
/* ************************* */
.how-work{
	padding:9.6rem 0;
}
.step-img-box{
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
}
.step-img-box::before,
.step-img-box::after{
	content: " ";
	position: absolute;
	display: block;
	border-radius: 50%;

}
.step-img-box::before{
	width: 60%;
	padding-bottom: 60%;
	background-color: #fdf2e9;
	z-index: -2;
}
.step-img-box::after{
	width: 45%;
	padding-bottom: 45%;
	background-color: #fae5d3;
	z-index: -1;
}
.step-img{
	width: 35%;
}

.step-num{
	font-size: 8.6rem;
	font-weight: 600;
	color: #ddd;
	margin-bottom: 1.2rem;
}
.step-description{
  font-size: 1.7rem;
	line-height: 1.8;
  color: #555;
}

/* ************************* */
/*  Meals  Section*/
/* ************************* */

.section-meals{
	padding:9.6rem 0;
}
.meal{
	box-shadow: 0 0 2.4rem 4.8rem rgb(0, 0, 0 , 0.075);
	border-radius: 11px;
	overflow: hidden;
	transition: all 0.4s;
}
.meal:hover{
	box-shadow: 0 0 3.2rem 6.4rem rgb(0, 0, 0 , 0.06);
   transform: translateY(-1.2rem);
}
.meal-img{
	width: 100%;
}
.meal-content{
	padding: 3.2rem 4.8rem 4.8rem 4.8rem ;
}

.meal-tags{
	margin-bottom: 1.2rem;
	display: flex;
	gap: 0.4rem;
}
.tag{
	display: inline-block;
	font-size: 1.2rem;
	padding: 0.4rem 0.8rem;
	text-transform: uppercase;
	color: #333;
	border-radius: 100px;
	font-weight: 600;
}
.tag-vegetarian{
	background-color: #51cf66;
}
.tag-vegan{
	background-color: #94d82d;
}
.tag-paleo{
	background-color: #ffd43b;
}

.meal-name{
	font-size: 2.4rem;
	color: #333;
	font-weight: 600;
	margin-bottom: 3.2rem;
}

.meal-attributes{
  display: flex;
	flex-direction: column;
	gap: 2rem;
}
.meal-attribute{
	font-size: 1.8rem ;
	display: flex;
	align-items: center;
	gap: 1.6rem;
}

.meal-icon{
	color: #e67e22;
	width: 2.4rem;
	height: 2.4rem;
}

.list-items{
	font-size: 1.8rem;
	display: flex;
	flex-direction: column;
	gap: 1.6rem;
}
.list-item{
	display: flex;
	align-items: center;
	gap: 1.6rem;
}
.item-icon{
	font-size: 3rem;
	color: #e67e22;
}

.all-recipes{
	text-align: center;
	font-size: 1.8rem;

}

